@font-face {
    font-family: AveriaSansLibre-Bold;
    src: url(./assets/AveriaSansLibre-Bold.ttf);
}

@font-face {
    font-family: AveriaSansLibre-BoldItalic;
    src: url(./assets/AveriaSansLibre-BoldItalic.ttf);
}

@font-face {
    font-family: AveriaSansLibre-Italic;
    src: url(./assets/AveriaSansLibre-Italic.ttf);
}

@font-face {
    font-family: AveriaSansLibre-Light;
    src: url(./assets/AveriaSansLibre-Light.ttf);
}

@font-face {
    font-family: AveriaSansLibre-LightItalic;
    src: url(./assets/AveriaSansLibre-LightItalic.ttf);
}

@font-face {
    font-family: AveriaSansLibre-Regular;
    src: url(./assets/AveriaSansLibre-Regular.ttf);
}


html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
    user-select: none;
    font-family: AveriaSansLibre-Bold;
    font-weight: 100;
    font-size: 16px;
}