@font-face {
    font-family: titan;
    src: url(./assets/TitanOne-Regular.ttf);
}


html,
body,
#root {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    font-family: titan;
}

body {
    font-size: 16px;
    /* max-width: 428px;
    max-height: 926px; */

    /* width: 428px;
    height: 926px; */
    /* width: 1000px;
    height: 1000px; */

    padding: 10px;

    position: relative;
}